{
  "rabbitmq": {
    "host": "localhost",
    "vhost": "%%AMQP_VHOST%%",
    "user": "%%AMQP_USER%%",
    "password": "%%AMQP_PASSWORD%%"
  },
  "redis": {
    "host": "localhost"
  },
  "api": {
    "host": "localhost",
    "port": %%SENSU_API_PORT%%
  }
}
